<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurantapp"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Login screen (Launcher) -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Restaurantapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Customer main screen -->
        <activity
            android:name=".activities.CustomerMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Restaurantapp"/>

        <!-- Staff main screen -->
        <activity
            android:name=".activities.StaffMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Restaurantapp"/>

        <!-- Other activities you may have -->
        <activity
            android:name=".activities.ReservationActivity"
            android:exported="false"
            android:theme="@style/Theme.Restaurantapp"/>

        <activity
            android:name=".activities.MenuActivity"
            android:exported="false"
            android:theme="@style/Theme.Restaurantapp"/>

    </application>

</manifest>